.terms-wrapper{
  margin-top: 3rem;
  display: flex;
  gap: .75rem;
  align-items: flex-start;
  
  & strong{
    font-weight: 500;
    color: var(--text-highlight);
  }
}

.checkbox-wrapper{
  position: relative;

  /* Mesma coisa da outra vez, como se eu deixasse ele ser a box "inteira" */
  & [type="checkbox"]{
    all: unset;
    position: absolute;
    inset: 0;
  }

  .checkbox-image{
    /* removendo o padrão do "flex" */
    flex: 0 0 1.5rem;
    height: 1.5rem;
    background-size: contain;

    background-image: url(../../assets/icons/checkbox-default.svg);
  }

  &:hover, &:focus-within{
    .checkbox-image{
      background-image: url(../../assets/icons/checkbox-hover.svg);
    }
  }
  
  &:has(:checked){
    .checkbox-image{
      background-image: url(../../assets/icons/checkbox-checked.svg);
    }
  }
}